{
    "presets": ["next/babel"],
    "plugins": [
        "relay",
        [
            "babel-plugin-styled-components"
        ],
        ["import", {
            "libraryName": "antd",
            "style": false
        }]
    ]
}